<h1>Search Users By ID</h1>
{{#if error }} <span>{{error}}</span> {{/if}}
<form method="POST" action="/user/search">
<div class="form-group">
    <input type="text" class="form-control" name="id">
</div>
<input type="submit" value="Search">
</form>